.header {
    width: 100%;
    height: 200px;
    background-color: cadetblue;
    position: relative;
    left: 30px;
    right: 30px;
}

.body {
    width: 100%;
    height: 550px;
    background-color: #fff;
    /* position: relative; */
    left: 30px;
    right: 30px;
}

.body-child {
    width: 100%;
    height: 250px;
    background-color: cadetblue;
    position: relative;
    left: 30px;
    right: 30px;
}

.carouselExampleControls {
    position: relative;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: rgb(12, 12, 12);
    position: relative;
    left: 30px;
    right: 30px;
}

.mainHeader {
    /* font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
    margin-left: 250px;
    margin-top: 50px;
    position: relative; */
    text-align: center;
    position: relative;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
}

.subHeader {
    /* font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
    margin-left: 280px;
    margin-top: 1px;
    position: relative; */
    text-align: center;
    position: relative;
    font-weight: bold;
    margin-top: -20px;
    color: #fff;
    font-size: 12px;
}

#post {
    background-color: rgba(161, 6, 6, 0.979);
    border: none;
    color: #fff;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    width: 75px;
    border-radius: 12px;
}

#name {
    background-color: #fff;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    width: 450px;
    cursor: pointer;
    border-radius: 12px;
}

.btnSearch {
    background-color: rgb(7, 12, 56);
    border: none;
    color: #fff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    width: 150px;
    cursor: pointer;
    border-radius: 12px;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.test {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 350px;
    max-height: 200px;
}

.populer {
    text-align: center;
    color: black;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    height: 300px;
    width: 350px;
    border-top: #ccc 1px solid;
    border-right: #ccc 1px solid;
    border-bottom: #777 1px solid;
    border-left: #777 1px solid;
}

.carousel-inner {
    padding: 1em;
}

.card-title {
    font-size: medium;
    font-weight: bold;
}

.carouselExampleControls .carousel-control-prev,
.carouselExampleControls .carousel-control-next {
    position: relative;
    color: black;
    padding: 100px;
    background-color: aqua;
    margin-bottom: -100px;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .card img {
        height: 11em;
    }
}

.card-text-Price {
    font-weight: bold;
    color: blue;
}

.rounded-circle {
    border-top: #ccc 1px solid;
    border-right: #ccc 1px solid;
    border-bottom: #777 1px solid;
    border-left: #777 1px solid;
}

.catlog {
    text-align: center;
    position: relative;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
}

.subcatelog {
    text-align: center;
    position: relative;
    font-weight: bold;
    margin-top: -20px;
    color: #fff;
    font-size: 12px;
}